
#menus {

  .menu {
    position: absolute;
    top: 10%;
    left: 10%;

    transition: opacity 0.5s ease;

    z-index: 2000;

    .items {

      li {

        position: relative;
        display: block;
        padding: 10px 20px;

        &.button {

          font-weight: bold;

          &:before {
            background: url('../icons/select.png') 50% 50% no-repeat;

            content: '';

            position: absolute;
            display: block;
            top: 0;
            left: -12px;
            width: 24px;
            height: 100%;

            opacity: 0;

            transform: translateX(-12px);

            transition: opacity 0.2s ease, transform 0.2s ease;

          }

          &:hover {
            cursor: pointer;

            &:before {
              opacity: 1;
              transform: translateX(0);
            }

          }

        }

      }

    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

  }

}